/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {

    .loader-title {
        font-size: 20em;
    }

    .loader-text {
        font-size: 4em;
    }

}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

    .loader-title {
        font-size: 15em;
    }

    .loader-text {
        font-size: 3.5em;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

    .loader-title {
        font-size: 10em;
    }

    .loader-text {
        font-size: 3em;
    }

}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {

    .loader-title {
        font-size: 5em;
    }

    .loader-text {
        font-size: 2em;
    }

}

@media only screen and (orientation: landscape) {

    .landscape-indicator {
        display: none !important;
    }
}

/* landscape indicator on/off */
.landscape-indicator {
    z-index: 1000;
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}

body {
    background-color: black;
}

h1 {
    font-family: Times New Roman;
    color: black;
}

#loop{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.explanation-container, .video-controls {
    box-shadow: -1px -1px 50px -15px #000000;
    height: 10%;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 100000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.scroll-indicator {
    height: 100%;
    font-family: Raleway;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.scroll-indicator > div {
    white-space: nowrap;
}

.explanation-confirm, .explanation-help {
    border: solid 5px black;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    margin: 0 0 0 1%;
    cursor:pointer;
}

.explanation-help > a {
    text-decoration: none;
    color: black;
}

.arrow {
    height: 100%;
    width: 10%;
    cursor: pointer;
}

.next {
    position: absolute;
    right: 0;
    background-color: black;
    background: url('/images/arrow-next.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.previous {
    position: absolute;
    left: 0;
    background-color: black;
    background: url('/images/arrow-prev.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.loader-wrapper {
    height: 100vh;
}

.loader-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.4;
    background-color: white;
    z-index: 1
}

.loader-content {
    height: 100%;
    z-index: 1;
    white-space: nowrap;
}

.loader-title {
    pointer-events: none;
}

.loader-text {
    color: white;
    text-align: center;
    white-space: nowrap;
    height: 25%;
    pointer-events: none;
}

.quotes {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flow-r {
    flex-flow: row;
}

.flow-c {
    flex-flow: column;
}
/* player stuff */
.video-wrapper {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    object-fit: fill;
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

/* MENU CSS */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 2em;
        color: #818181;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
    }
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 1.5em;
        color: #818181;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
    }
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: white; /* Black w/opacity */
    opacity: 0.7;
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    width: 100%; /* 100% width */
    /*text-align: left; /* Centered text/links */*/
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

a {
    color: #818181;
}
/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    font-family: Times New Roman;
    font-size: 4em;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus, .project-overlay a:hover, .project-overlay a:focus {
    color: black;
    transition: border 1s;
}

/* Position the close button (top right corner) */
.overlay .closebtn, .project-overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 60px;
}


/* menu item styling */
.menu-item {
    padding: 10px 20px 5px 20px;
}

.b-right {
    text-align: right;
    border-right: solid black 1px;
    border-top: solid black 1px;
}

.b-left {
    text-align: left;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#content-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.hidden {
    display: none;
}

/* MENU STYLING */
.current-video {
    font-weight: bold;
    opacity: 1;
}
/* HOME STYLING */
.home-menu {
    z-index: 200;
    top: 5%;
    position: absolute;
    right: 1.5%;
    width: 12%;
    height: 9%;
    cursor: pointer;
}

/* PROJECTEN STYLING */
.projecten-menu {
    z-index: 200;
    bottom: 16%;
    position: absolute;
    left: 44%;
    width: 12%;
    height: 17%;
    cursor: pointer;
}

.projecten-left {
    position: fixed;
    height: 28.25%;
    width: 19.5%;
    top: 20.5%;
    left: 11.5%;
    cursor: pointer;
}

.projecten-middle {
    cursor: pointer;
    position: fixed;
    height: 49.5%;
    width: 19.75%;
    top: 9.5%;
    left: 40.65%;
}

.projecten-right {
    position: fixed;
    height: 28.5%;
    width: 20%;
    top: 20%;
    right: 10.25%;
    cursor: pointer;
}

.arrow-up {
    position: fixed;
    height: 18.5%;
    bottom: 17%;
    width: 21%;
    left: 11%;
    cursor: pointer;
}

.arrow-down {
    position: fixed;
    height: 18.5%;
    bottom: 18%;
    width: 21.5%;
    right: 11.5%;
    cursor: pointer;
}

.project-overlay > * {
    margin-bottom: 5%;
}

.project-overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    padding: 0;
    z-index: 100000;
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.project-bg-title {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    font-family: Raleway;
    font-size: 30em;
    opacity: 0.1;
    white-space: nowrap;
    color: green;
}

.project-title {
    pointer-events: none;
    height: 100vh;
    font-size: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: bold;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.scroll-down-indicator {
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-end;
}

.project-description {
    font-size: 1.5em;
    font-family: Raleway;
    color: black;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 2.5%;
    padding: 20px;
}

/* carousel custom */
.projects {
  background-color: white;
  overflow: hidden;
  width: 100%;
}

.projects ul {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.projects ul li {
  display: inline-block;
  padding: 1rem;
  position: relative;
  text-align: center;
  width: 100vw;
}

.projects ul li p {
    font-size: 1.5em;
    font-family: Raleway;
    color: black;
    line-height: 175%;
    letter-spacing: 1px;
}

.projects-control {
  background-color: white;
  display: flex;
  justify-content: center;
}

.projects-control i {
  cursor: pointer;
  padding: 1.3rem;
  margin-bottom: 1%;
}

#projects-l {
    background-image: url('/images/arrow-prev.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2%;
}

#projects-r {
    background-image: url('/images/arrow-next.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2%;
}

.project-website > a {
    font-size: 3.5em;
    color: green;
    font-family: Raleway;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.2;
}

.project-social-media-wrapper, .project-roles-wrapper {
    height: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.project-social-media-wrapper {
    margin-bottom: 2%;
}

.project-social-media-wrapper, .project-website {
    margin: 0;
}

.project-website {
    height: 15%;
}

.project-social-media-link, .project-role {
    height: 75%;
    text-align: center;
    margin: 15px;
    background-color: transparent;
    color: black;
    font-size: 1.25em;
    font-family: Raleway;
    letter-spacing: 3px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    flex-flow: column;
}

.project-role {
    pointer-events: none;
    border: solid black 5px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
}

.project-social-media-link > a {
    height: 100%;
    width: 100%;
    color: black;
    flex-flow: column;
}

.project-social-media-link > a:hover, .project-social-media-link > a:active, .project-social-media-link > a:visited, .project-social-media-link > a:focus {
    text-decoration: none;
}

.project-social-media-link > a > img {
    height: 50%;
}

.project-social-media-link > a > .social-media-text {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25em;
    margin: 5px;
}

#carouselExampleIndicators {
    padding: 0;
}

.carousel-indicators > li {
    background-color: black;
}

.carousel-indicators > li.active {
    background-color: gray;
}

.carousel-control-prev-icon, .carousel-control-prev-icon:hover, .carousel-control-prev-icon:focus {
    background-image: url('/images/img-arrow-prev.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50%;
    width: 50%;
}

.carousel-control-next-icon, .carousel-control-next-icon:hover, .carousel-control-next-icon:focus  {
    background-image: url('/images/img-arrow-next.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50%;
    width: 50%;
}



.center {
    text-align: center;
}


.sub-title {
    font-family: Raleway;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    margin: 1% 0 1% 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 0;
    pointer-events: none;
}

/* WAT DOEN WIJ ANDERS STYLING */
.explanation-video {
    object-fit: cover;
    background:transparent no-repeat;
    background-size: cover;
    z-index: 1000000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.wat-doen-wij-anders-explanation-video {
    position: fixed;
    top: 13%;
    left: 23%;
    background-color: black;
    width: 54.5%;
    height: 61%;
}

.wat-doen-wij-anders-menu {
    height: 100%;
    width: 20%;
    color: black;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}

/* CONTACT STYLING*/
.contact-menu {
    z-index: 200;
    position: absolute;
    right: 8%;
    top: 7%;
    width: 11%;
    height: 8%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-information {
    display: flex;
    flex-flow: column;
    z-index: 200;
    position: absolute;
    top: 17.5%;
    width: 58%;
    height: 38.5%;
    left: 1%;
    padding: 0;
}

.email-button, .phone-number-button {
    height: 100%;
    width: 100%;
    padding: 0;
    cursor: pointer;
}

.dhevak-email {
    height: 47.5%;
    width: 100%;
    opacity: 0;
    margin-bottom: 2.5%;
}

.dhevak-phone-number {
    height: 50%;
    opacity: 0;
}

.social-media {
    z-index: 200;
    position: absolute;
    right: 8%;
    height: 62%;
    width: 32%;
    top: 16%;
    display: flex;
    flex-flow: row wrap;
}

.social-media > a {
    position: relative;
    height: 50%;
    width: 50%;
}

/* custom toast styling */
.toast {
    background-color: white;
}

.toast-message {
    color: black;
}
